@model AuthorVM
@{
    ViewData["Title"] = "Index";
}



<section class="author-profile" style="background-image: url(/Assets/images/bg-author_1920x545.webp);">
    <div class="profile">
        <div class="profile-img">
            <img src="~/Assets/images/@Model.Author.Image" alt="">
        </div>
        <div class="author-name">
            <h2>@Model.Author.Name @Model.Author.Surname</h2>
        </div>
        <div class="author-books">
            <span>@Model.Author.AuthorBooks.Count Books</span>
        </div>
        <div class="author-info">
            <p>
               @Model.Author.Resume
            </p>
        </div>
    </div>
</section>
<section class="all-author-books">
    <div class="title">
        <h1>All @Model.Author.Name`s Books</h1>
    </div>
    <div class="container">
        <div class="row">
           @await Html.PartialAsync("_AuthorBookPartialView",Model)
            <div class="loadMore">
                <a href="#">LOAD MORE BOOKS</a>
            </div>
        </div>
    </div>
</section>
<section class="other-authors">
    <div class="other-author-title">
        <h1>VIEW ANOTHER AUTHORS</h1>
    </div>
    <div class="container">
        <div class="row">
           
            @await Html.PartialAsync("_AuthorsPartialView",Model.Authors)
            
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
       $( document ).ready(function () {
    $(".moreBox").slice(0, 4).show();
      if ($(".blogBox:hidden").length != 0) {
        $(".loadMore").show();
      }   
      $(".loadMore").on('click', function (e) {
        e.preventDefault();
        $(".moreBox:hidden").slice(0, 2).slideDown();
        if ($(".moreBox:hidden").length == 0) {
          $(".loadMore").fadeOut('slow');
        }
      });
    });
    </script>
        
        <script src="~/Assets/js/author.js"></script>
}

