@model List<Book>


    @foreach (Book book in Model)
{
    <div class=" items2 column col-lg-6 blogBox moreBox" style="display:none;" data-id="@foreach (BookCategory item in book.BookCategories)
                                       {
                                           @(item.Category.Name )
                                       }"
     data-tag="@foreach (BookTag item in book.BookTags)
                                       {
                                           @(item.Tag.Name )
                                       }">
        <div class="cards justify-content-lg-start">
            <div class="card-headers">
                <img src="~/Assets/images/@book.Image" alt="..." style="width:56%">
            </div>
            <div class="card-bodys">
                <a asp-controller="book" asp-action="detail" asp-route-id="@book.Id" asp-route-categoryId="@foreach (var item in book.BookCategories)
                                                                                                        {
                                                                                                            @item.Category.Id
                                                                                                        }" style="text-decoration:none;">
                    <h1 class="book-name">@book.Name</h1>
                </a>
                <a asp-controller="author" asp-action="index" asp-route-id="@book.AuthorBooks.FirstOrDefault().Author.Id" style="text-decoration:none;">
                    <h5 class="author-name">
                        @foreach (var item in book.AuthorBooks)
                        {
                            @item.Author.Name @item.Author.Surname
                        }
                    </h5>
                </a>
                @if (book.CampaignId == null)
                {
                    <span class="price">$@book.Price</span>
                }
                else
                {

                    <span class="price"><span>$@(book.Price * (100 - book.Campaign.DiscountPercent)/100)</span><span style="text-decoration:line-through;opacity:0.6;padding-left:10px;">  $@book.Price</span></span>
                }


                <p>

                    @if (book.Summary.Length > 150)
                    {

                        @book.Summary.Substring(0,150)
                    }
                    else
                    {
                        @book.Summary
                    }
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary addToCart" asp-controller="book" asp-action="addbasket" asp-route-id="@book.Id">Add To Cart</a>

                }
                else
                {
                    <a class="btn btn-primary" asp-controller="account" asp-action="login">Add To Cart</a>

                }

            </div>
        </div>
    </div>
}