@model List<Blog>

@foreach (Blog blog in Model)
{
    <div class="card col col-lg-5 col-md-5 col-sm-12 col-xs-12 col-12" style="height:100%;margin:10px 10px 10px 0;">
        <div class="item">
            <div class="image">
                <img src="~/Assets/images/@blog.Image" alt="" style="overflow:hidden;width:100%;height:250px;">
            </div>
            <div class="content">
                <div class="info" style="display:flex;margin:10px 0 1.5rem 3rem;justify-content:space-between;">
                    <div class="date-publisher">
                        <span style="font-size:14px;opacity:0.6;">@blog.Date.ToString("MMMM dd,yyyy")</span>
                        <span style="font-size:14px;opacity:0.6;">-</span>
                        <span style="font-size:14px;opacity:0.6;">by @blog.Publisher.Name @blog.Publisher.Surname</span>
                    </div>
                    <div class="comments">
                        <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                            <i class="fas fa-comments" style="font-size:14px;opacity:0.6;"></i>
                            <span style="font-size:14px;opacity:0.6;">(@blog.Comments.Where(c=>c.IsAccess==true).Count())</span>
                        </a>
                    </div>
                </div>
                <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id"><h3 style="margin-left:3rem; font-size:18px; color:black;">
                     @if (blog.Title.Length < 30)
                    {
                       @blog.Title

                    }
                    else
                    {
                        @(blog.Title.Substring(0,30) + "...")
                    }
                    </h3></a>
                <p style="font-size:14px;margin-left:3rem;">
                    @if (blog.Description.Length < 100)
                    {
                        @blog.Description

                    }
                    else
                    {
                        @(blog.Description.Substring(0,100) + "...")
                    }
                </p>
                <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id" class="btn" style="margin:0 0 2rem 2rem;">read more</a>
            </div>
        </div>
    </div>
}