@model BookDetailVM


@foreach (var book in Model.RelatedBooks)
{
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="~/Assets/images/@book.Image">
                    <a asp-controller="book" asp-action="detail" asp-route-id="@book.Id" asp-route-categoryId="@foreach (var category in book.BookCategories)
                                                                                                               {
                                                                                                                   @category.Category.Id
                                                                                                               }"><h3>@book.Name</h3></a>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <div class="content-info">

                        <a class="ahver" asp-controller="author" asp-action="index" asp-route-id="@foreach (var auth in book.AuthorBooks)
                                                                                               {
                                                                                                  @auth.Author.Id
                                                                                               }
" style="border:none;text-decoration:none;color:black;background-color:white;">
                            <span style="font-size:12px;">
                                @foreach (var author in book.AuthorBooks)
                                {
                                    @author.Author.Name @author.Author.Surname
                                }
                            </span>
                        </a>
                        <span>
                            $
                            @if (book.CampaignId == null)
                            {
                                @book.Price
                            }
                            else
                            {

                                @(book.Price * (100 - book.Campaign.DiscountPercent)/100)

                                <span style="text-decoration:line-through;opacity:0.6;padding-left:10px;">  $@book.Price</span>
                            }
                        </span>
                    </div>
                    <a class="addToCart" asp-controller="book" asp-action="addbasket" asp-route-id="@book.Id">ADD TO CART</a>
                </div>
            </div>
        </div>
    </div>
}